html {
  width: 100%;
  color: var(--charcoal);

  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --azure: #097bedff;
  --coral: #fd8355ff;
  --cultured: #f9f9f9ff;
  --white: #ffffffff;
  --charcoal: #213e51ff;
}
