html {
  width: 100%;
  color: var(--charcoal);

  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --azure: rgb(8, 0, 253);
  --coral: #fd8355ff;
  --cultured: #f9f9f9ff;
  --white: #ffffffff;
  --charcoal: #213e51ff;
  --GET: #56a3f1ff;
  --POST: #53cd84ff;
  --PUT: #fdc848ff;
  --PATCH: #213e51ff;
  --DELETE: #ef665eff;
}
/*
  사용법
  var(--cultured);
*/
